/* .bg-color{
    background-color: yellow;
}
.navbar-dark {
    color: black;
} */
.exhale{
    background-color: darkblue;
}
h5{
    color:beige;
}
.fas fa-arrow-left{
    color: beige;
}
.nav-link{
    color: blanchedalmond;
}